/* Styles de base pour la barre de navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(51, 51, 51, 0.1);
  color: #000;
}

.nav-btn {
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
}

.nav-btn:hover {
  background-color: #333;
  color: #fff;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #333;
  border-radius: 10px;
}

/* Styles pour les appareils mobiles */
@media (max-width: 900px) {
  .navbar-toggle {
    display: flex;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-links.show {
    right: 0;
  }

  .nav-links li {
    margin: 2.5rem 0;
  }

  .nav-btn {
    padding: 0.5rem 1rem;
  }
}

footer {
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
}
/* Animation pour le bouton de menu mobile */
.navbar-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .nav-links {
    list-style: none;
    display: block;
    align-items: center;
  }
}
