{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
{% endblock %}

{% block footer %}
<footer>
    <div class="container-footer">
        <p>&copy; {{ "now"|date("Y") }} Playtime. All rights reserved.</p>
    </div>
</footer>
{% endblock %}